{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <div class="container-fluid bg-light py-5">
        <div class="row">
            <div class="col-md-3  mx-auto ">

                <p>
                    Look at your emails. We send a verification email.
                </p>


            </div>

        </div>

    </div>
{% endblock %}
