<!DOCTYPE html>
<html lang="en">

<head>
    <title>iShop - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}






</head>

<body>

{% include 'layouts/partials/nav.html.twig' %}


{% include 'layouts/partials/_modal-search.html.twig' %}





<!-- Start Content -->
<section id="main">


        {% block content %}


        {%endblock%}


</div>
</section>


{% include 'layouts/partials/footer.html.twig' %}



<!-- Start Script -->
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

<!-- End Script -->
</body>

</html>