{% extends 'front/layouts/base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="bg-light">
        <section class="container py-5">
            <div class="row text-center pt-5 pb-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Cart</h1>
                    <section>
                        <div class="row">
                            <div class="col-md-6 m-auto">
                                Successfully, Great
                            </div>
                        </div>


                    </section>
                </div>
            </div>

        </section>
    </section>








{% endblock %}
