{% extends 'front/layouts/base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container-fluid bg-light py-5">
        <div class="row">
            <div class="col-md-3  mx-auto ">


                {% if  app.user is not null and app.user.isVerified == 0 %}

                    <p>
                        Check your email to confirm
                    </p>

                {% else %}

                    <p>
                        If an account matching your email exists, then an email was just sent that contains a link that
                        you can use to reset your password.
                        This link will expire
                        in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
                        .
                    </p>
                    <p>If you don't receive an email please check your spam folder or <a
                                href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
                {% endif %}

            </div>
        </div>
    </div>



{% endblock %}
