<!DOCTYPE html>

<title>Edit Subscriber</title>

{% block body %}
    <h1>Edit Subscriber</h1>

    {{ include('admin/subscriber/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_subscriber_index') }}">back to list</a>

    {{ include('admin/subscriber/_delete_form.html.twig') }}
{% endblock %}
