<!DOCTYPE html>

<title>New Subscriber</title>

{% block body %}
    <h1>Create new Subscriber</h1>

    {{ include('admin/subscriber/_form.html.twig') }}

    <a href="{{ path('app_admin_subscriber_index') }}">back to list</a>
{% endblock %}
