<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <span data-feather="home" class="align-text-bottom"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_product_index')}}">
                    <span data-feather="file" class="align-text-bottom"></span>
                  Product
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_category_index')}}">
                    <span data-feather="shopping-cart" class="align-text-bottom"></span>
                    Category
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="media" class="align-text-bottom"></span>
                    Image
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_order_index')}}">
                    <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                    Order
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers" class="align-text-bottom"></span>
                    Customer
                </a>
            </li>
        </ul>

    </div>
</nav>