
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="Hugo 0.98.0">
    <title>{% block title %}{%endblock%}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
    <!-- Favicons -->


    {% block stylesheets %}
        {{ encore_entry_link_tags('invoice') }}
    {% endblock %}

</head>
<body>
    {% block body%}

    {%endblock%}
</body>
</html>
