<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{%endblock%}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
    <!-- Favicons -->
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/css/invoice-pdf.css')) }}">



</head>
<body>
    {% block body%}

    {%endblock%}
</body>
</html>
