{% extends 'front/layouts/base.html.twig' %}
{% block main_title %}

{% endblock %}

{% block content %}
    <section class="bg-light">
        <section class="container py-5">
            <div class="row text-center pt-5 pb-3">
                <div class="col-lg-12 m-auto">
                    <h1 class="h1">Ticket</h1>
                    <div class=" d-flex justify-content-center ">
                        <div class="row">
                            <div class="col-md-12 ">

                                {{ form(form) }}

                                <br>

                                <hr>
                                <h1>Message</h1>
                            {% for message in messages%}
                                <p class="alert-{{ (message.customer is not null) ? 'success' : 'primary' }} white p-3" style="color: #000;">{{ message.text }}</p>
                             {%endfor%}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}

